body{
    height: 95 vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(2, 51, 9);
}

.painel{
    border: 10px solid rgb(255, 255, 255);
}